.pannello{
    background-color: #0e97d8 !important;
}
.testa{
    background-color: #0e97d8 !important;
    border-color: #14a2f5 !important;
}
h1{
    color: #fff;
    text-shadow:0 1px 0 #000;
}
.image-index{
    width: 100%; height: 100%; top: 0; left: 0;
    border-radius: 4px;
}
h3{
    text-align: center;
    margin-bottom: 30px;
}
.image-icon{
    background-color: transparent !important;
    border-radius: 20px !important;
}
.dimension{
    width: 50px;
    height: 50px;
}
.foot{
    height:20px; 
    text-align: center;
    background-color: #0e97d8;
    border-color: #14a2f5;
    color:#fff;
    text-shadow:0 1px 0 #000;
}	
.custom-corners .ui-bar {
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
}
.custom-corners .ui-body {
  border-top-width: 0;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.font{
    font-size: 65%;
    padding-left: 10px;
}
.custom-body{
    padding: 0;
    margin-bottom: 10px;
}
.image-list{
    width: 100%; height: 100%;
}
.arrow-list{
    margin:0; 
    background-color: transparent !important; 
    border-color: transparent !important;
    margin-top: -3.5px;
}
.church{}
.cult{}
.mon{}
.rist{}
.map-content{
    padding: 0;
}
.scrolldown{}
.prefer{}
.parent-container{}
.icon-contatti{
    width: 18px;
    height: 18px;
    float:left;
    padding-right: 5px;
}
.font-form{
    font-size: 80% !important;
}
.form-size{
    height: 30px !important;
}
.made{
    width: 90%;
    height: 100%;
    margin-left: 15px;
}
.font-list{
    font-size: 75%;
    padding-left: 15px;
}
.heart-list{
    margin:0; 
    background-color: transparent !important; 
    border-color: transparent !important;
    margin-top: -3.5px;
    margin-right: 30px;
}
.menu{
    background-color: #0e97d8 !important;
    border-color: #14a2f5;
}
.lista{
    color: #fff !important;
    text-shadow:0 1px 1px #000 !important;
}
.top-list{
    text-shadow: 0 1px #fff;
    color: black;
    background-color: #e2dfdf;
}
.mezzi{
    margin-top: 0;
}
.dett{
    margin-top: 10px;
    margin-left: 13px;
    margin-bottom: 15px;
}